<!-- users favorits book according to user ratings -->
  <div class="container-fluid">
    <div class="row justify-content-between">
      <div class="col-lg-8">
        <div class="card pl-3 pr-3">
          <div class="card-header text-center">
            <h4 class="card-title">{{username}}'s Favorite Books</h4>
            <p></p>
          </div>
          <div class="card-content">
            <swiper [config]="swconfig">
              <div class="swiper-wrapper ">
            
                <div class="swiper-slide"  *ngFor="let rating of allBooks">
                  <a [routerLink]="['/books/search',rating.book.bookId]">
                  <img [src]="rating.book.img" height="150" class="book-img card-img-top"/>
                  {{rating.book.title}}
                </a>
                </div>
            
              </div>
            
              <br/>
              <br/>
              <div class="swiper-pagination"></div>
              
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
            
            </swiper>
          </div>
          
        </div>
      </div>
  
      <!--Profile Card 3-->
     
      <div class="col-lg-4">
        <div class="card profile-card-1" >
          <div class="hoverable">
            <img  [src]="url ? url: '../../../assets/img/portrait/default.svg'" alt="profile-image" />
          </div>
          <!-- <form (ngSubmit)="onSubmit(updateImage)" #updateImage="ngForm">
            <div class="form-group">
         <label class= "hoverable" for="fileInput">
         
            <div class="hover-text">Upload Image</div>
            <div class="background"></div>
          </label>
          <br/>
          <input  class="form-control" id="fileInput" type="file" (change)="onSelectFile($event)" >
          </div>
        </form> -->
          <!-- <button *ngIf="url !== null" (click)="delete()">remove image</button> -->
          <div class="card-content">
            <h2>{{username}}<small>{{email}}</small></h2>
            <div class="icon-block">
              <a [routerLink]="'/friends'"><i class="icon-user-follow"  data-placement="bottom" ngbTooltip="Friends"></i></a>
              <!-- if already friends  -->
              <!-- <a href="#"><i class="icon-user-following" ></i></a> -->
              <a [routerLink]="'/groups'"> <i class="icon-users" data-placement="bottom" ngbTooltip="Groups"></i></a>
  
              <a [routerLink]="'/books'"> <i class="icon-book-open"  data-placement="bottom" ngbTooltip="Books"></i></a>
              
            </div>
          </div>
        </div>
      </div>
  
      <!-- <div class="col-8">
        <div class="card pl-3 pr-3">
          <div class="card-header text-center">
            <h4 class="card-title">Your low rated Books</h4>
            <p></p>
          </div>
          <div class="card-content">
            <swiper [config]="swconfig">
              <div class="swiper-wrapper ">
            
                <div class="swiper-slide"  *ngFor="let rating of lowRated">
                  <a [routerLink]="['/books/search',rating.book.bookId]">
                  <img [src]="rating.book.img" height="150" class="book-img"/>
                  {{rating.book.title}}
                </a>
                </div>
            
              </div>
            
              <br/>
              <br/>
              <div class="swiper-pagination"></div>
              
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
            
            </swiper>
          </div>
          
        </div>
      </div> -->
  
    </div>
  </div>
    <!--POSTS APPEARS HEARE/POST SECTION-->
    <div class="row">
      <div class="col-lg-12">
        <div class="card-columns">
        
          <ng-container *ngFor="let item of postList; let itemindex = index;">
            <app-post-modal [item]="item" [itemindex]="itemindex" (ondelete)="onDeletePost($event)"></app-post-modal>
          </ng-container>
          <div *ngIf="postList.length === 0">
            <span class="card-body text-muted" >Currently, No Post Available</span>
          </div>
        
        </div>
      </div>
      
    <!-- <div class="col-lg-4">

      <div class="card">
        <div class="card-header text-center">
          <h2 class="card-title">{{username}}'s Friends</h2>
          
        </div>
        <div class="card-content">
          <div class="card-body">
            <p>chethani</p>
          </div>
        </div>
      </div>
    </div> -->

    </div>
  

  