<div class="row">
  <div class="col-md-12 col-lg-12">
    <div class="card">
      <div class="card-content">
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <h4 class="card-title">Buy Books</h4>
            </div>
            <div class="col-6">
              <form class="form">
                <div class="form-group">
                  <div class="row">
                    <div class="col-6">
                      <button class="btn btn-outline-info mr-1 pull-right primary" (click)="onOpen()">
                        <i class="ft-plus primary mr-1"></i>
                        Sell a Book
                      </button>
                    </div>
                    <div class="col-6">
                      
                      <div class="input-group ">
                        <input type="text" class="form-control " placeholder="Search" aria-describedby="button-addon4">
                        <div class="input-group-append">
                          <button class="btn btn-raised btn-primary" type="button"><i class="ft-search"></i></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>


          <div class="row">
            <div class="col-auto">
              <ul ngbNav #nav="ngbNav" class="nav-pills">
                <li ngbNavItem >
                  <a ngbNavLink>All Sales Posts</a>
                  <ng-template ngbNavContent>

                    <div class="card-columns">
                      <ng-container *ngFor="let item of allPosts; let itemindex = index;">
                        <app-sales-modal [item]="item" [itemindex]="itemindex" (ondelete)="onDeletePostAll($event)" [allpost]="true"></app-sales-modal>
                      </ng-container>      
                    </div> 

                    <div class="row justify-content-center  mt-2 font-medium-4" matchHeight="card" *ngIf="allPosts.length === 0">
                      There are no Posts yet. Click on Sell a Book to get started.
                    </div>
                  </ng-template>
                </li>

                <li ngbNavItem>
                  <a ngbNavLink>My Sales Posts</a>
                  <ng-template ngbNavContent>
                    <!--<div class="row" matchHeight="card">
                      <div class="col col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12" *ngFor="let group of myGroups">
                        <app-group-card [group]="group"></app-group-card>
                      </div>
                    </div>--> 
                    <div class="card-columns">
                      <ng-container *ngFor="let item of myPosts; let itemindex = index;">
                        <app-sales-modal [item]="item" [itemindex]="itemindex" (ondelete)="onDeletePostMy($event)" [allpost]="false"></app-sales-modal>
                      </ng-container>                 
                    </div>

                    <div class="row justify-content-center  mt-2 font-medium-4" matchHeight="card" *ngIf="myPosts.length === 0">
                      No posts yet. Click on Sell a Book to start selling.
                    </div>
                  </ng-template>
                </li>
              </ul>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>


<div [ngbNavOutlet]="nav"></div>

<!--CREATE NEW POST CUSTOM MODAL SECTION-->
 <div class="row">
  <div class="backdrop" *ngIf="create">
    <div class="col-10 modal-box" >
       <form #createpost="ngForm" (ngSubmit)="onsubmit(createpost.value)">
         <div class="card">
             <div class="card-header d-flex justify-content-between">
               <h4 class="card-title">Sell a Book</h4>
               <i class="ft-x" style="cursor:pointer;" (click)="onClose()"></i>
             </div>    
             <div class="card-body form-group">
              <mat-form-field class="example-full-width">
                <mat-label>Title</mat-label>
                <input matInput ngModel #title="ngModel" name="title" required>
              </mat-form-field>
              <div *ngIf="description.errors?.pattern" style="color: red;"> 
                Inavalid Title
             </div>
              <div class="row">
                <div class="col-6 card-content">
                  <div class="card-content" *ngIf="imagePath!=''">
                    <img [src]="imagePath" class="img-fluid">
                  </div>
                  <div class="form-group">
                    <i class="primary icon-picture mr-2"></i>
                    <label style="cursor:pointer;">
                      <span class="primary">Attach Photo</span>
                      <input (change)="uploadImage($event)" ngModel name="image" type="file" style="display:none;">
                    </label>
                  </div> 
                </div>
                <div class="col-6">
                  <mat-form-field  class="example-full-width">
                    <mat-label>Description</mat-label>
                    <textarea matInput cols="100" rows="10"  name="description" ngModel #description="ngModel" required></textarea>
                  </mat-form-field>
                  <div *ngIf="description.errors?.pattern" style="color: red;"> 
                    Inavalid Description
                 </div>
                  <mat-form-field  class="example-full-width">
                    <mat-label>Price</mat-label>
                    <input matInput name="price" ngModel #price="ngModel" required pattern="^[0-9]*"/>
                    <div *ngIf="price.errors?.pattern" style="color: red;"> 
                      Inavalid Price
                   </div>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-6">
                  <div class="example-full-width">
                    Would you like to share your phone number with us ?
                    <a class="btn btn-outline-info mr-1 primary" (click)="enableContact()">
                      Yes
                    </a>
                    <a class="btn btn-outline-info mr-1 primary" (click)="showMessage()">
                      No
                    </a>
                  </div>
                  <div *ngIf="contact">
                    <mat-form-field  class="example-full-width">
                      <mat-label>Contact Number</mat-label>
                      <input matInput name="telephone" ngModel #telephone="ngModel" [required]="contact" pattern="^[0-9]{10,10}"/>
                    </mat-form-field>
                    <div *ngIf="telephone.errors?.pattern" style="color: red;"> 
                      Inavalid Telephone number
                   </div> 
                  </div>
                  <div *ngIf="!contact" style="color: red;">
                    Make sure to puplish a way to contact you
                  </div>
                </div>
                <div class="col-6">
                  <div class="example-full-width">
                    <img src="../../../assets/img/logos/payhere.png" 
                    width="50" height="20" class="d-inline-flex mr-1">
                    Don't you have a Merchent Id from PayHere ?
                    <a href="https://www.payhere.lk" target="_blank" class="btn btn-outline-info mr-1 primary">
                      No
                    </a>
                  </div>
                  <div>
                    <mat-form-field  class="example-full-width">
                      <mat-label>Merchant ID</mat-label>
                      <input  matInput name="merchantid" ngModel #merchantid="ngModel" required pattern="^[0-9]{7,7}"/>
                    </mat-form-field>
                    <div *ngIf="merchantid.errors?.pattern" style="color: red;"> 
                      Inavalid merchant id.
                   </div>
                  </div>
                </div>
              </div>

             </div>    
             <div class="card-footer d-flex justify-content-center">          
                <input type="submit" [disabled]="!createpost.valid" value="Post to Sell" class="btn btn-raised gradient-purple-bliss white"> 
             </div> 
         </div>
       </form>
    </div>
  </div>
 </div>
<ngx-spinner></ngx-spinner>

