<div class="row">
  <div>OTHERS</div>
  <div class="col-12">
    <div class="card-deck-wrapper">
      <div class="card-deck">
        <div class="card">
          <div class="card-content">
            <div class="card-img">
              <img src="https://novel-geek.s3.ap-south-1.amazonaws.com/1593113226649_f1.jpg" alt="" class="card-img-top img-fluid">
              <a href="" class="btn btn-floating halfway-fab btn-large bg-brimary">
                <i class="ft-phone"></i>
              </a>
            </div>
           <div class="card-body">
             <h4 class="card-title">card title</h4>
             <p class="card-text">
               My card content for selling old books. here you can include 
               short description about book.date of buying bla bla
             </p>
           </div>
           <div class="card-footer">
             <p class="card-text">
               <small class="text-muted">
                 some some details, uploaded date and such things
               </small>
             </p>
           </div>
          </div>
        </div>
        <div class="card">
          <div class="card-content">
            <div class="card-img">
              <img src="https://novel-geek.s3.ap-south-1.amazonaws.com/1593114095834_kor.jpg" alt="" class="card-img-top img-fluid">
              <a href="" class="btn btn-floating halfway-fab btn-large bg-brimary">
               <i class="ft-phone"></i>
             </a>
            </div>
           <div class="card-body">
             <h4 class="card-title">card title</h4>
             <p class="card-text">
               My card content for selling old books. here you can include 
               short description about book.date of buying bla bla
             </p>
           </div>
           <div class="card-footer">
             <p class="card-text">
               <small class="text-muted">
                 some some details, uploaded date and such things
               </small>
             </p>
           </div>
          </div>
        </div>
        <div class="card">
          <div class="card-content">
            <div class="card-img">
              <img src="https://novel-geek.s3.ap-south-1.amazonaws.com/1593113226649_f1.jpg" alt="" class="card-img-top img-fluid">
              <a href="" class="btn btn-floating halfway-fab btn-large bg-brimary">
               <i class="ft-phone"></i>
             </a>
            </div>
           <div class="card-body">
             <h4 class="card-title">card title</h4>
             <p class="card-text">
               My card content for selling old books. here you can include 
               short description about book.date of buying bla bla
             </p>
           </div>
           <div class="card-footer">
             <p class="card-text">
               <small class="text-muted">
                 some some details, uploaded date and such things
               </small>
             </p>
           </div>
          </div>
        </div>
        <div class="card">
          <div class="card-content">
            <div class="card-img">
              <img src="https://novel-geek.s3.ap-south-1.amazonaws.com/1593114236067_dog.jpg" alt="" class="card-img-top img-fluid">
              <a href="" class="btn btn-floating halfway-fab btn-large bg-brimary">
               <i class="ft-phone"></i>
             </a>
            </div>
           <div class="card-body">
             <h4 class="card-title">card title</h4>
             <p class="card-text">
               My card content for selling old books. here you can include 
               short description about book.date of buying bla bla
             </p>
           </div>
           <div class="card-footer">
             <p class="card-text">
               <small class="text-muted">
                 some some details, uploaded date and such things
               </small>
             </p>
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<div>MINE</div>

<div class="row">

  <div class="col-3">
    <div class="card">
      <div class="card-content">
        <div class="card-img">
          <img src="https://novel-geek.s3.ap-south-1.amazonaws.com/1593113226649_f1.jpg" alt="" class="card-img-top img-fluid">
          <a href="" class="btn btn-floating halfway-fab btn-large bg-danger">
            <i class="ft-plus"></i>
          </a>
        </div>
       <div class="card-body">
         <h4 class="card-title">card title</h4>
         <p class="card-text">
           Add new Selling book
         </p>
       </div>
       <div class="card-footer">
         <p class="card-text">
           <small class="text-muted">
             some some details, uploaded date and such things
           </small>
         </p>
       </div>
      </div>
    </div>
  </div>
  <div class="col-9">
    <div class="card-deck">
      <div class="card">
        <div class="card-content">
          <div class="card-img">
            <img src="https://novel-geek.s3.ap-south-1.amazonaws.com/1593113226649_f1.jpg" alt="" class="card-img-top img-fluid">
            <a href="" class="btn btn-floating halfway-fab btn-large bg-brimary">
              <i class="ft-phone"></i>
            </a>
          </div>
         <div class="card-body">
           <h4 class="card-title">card title</h4>
           <p class="card-text">
             My card content for selling old books. here you can include 
             short description about book.date of buying bla bla
           </p>
         </div>
         <div class="card-footer">
           <p class="card-text">
             <small class="text-muted">
               some some details, uploaded date and such things
             </small>
           </p>
         </div>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <div class="card-img">
            <img src="https://novel-geek.s3.ap-south-1.amazonaws.com/1593114095834_kor.jpg" alt="" class="card-img-top img-fluid">
            <a href="" class="btn btn-floating halfway-fab btn-large bg-brimary">
             <i class="ft-phone"></i>
           </a>
          </div>
         <div class="card-body">
           <h4 class="card-title">card title</h4>
           <p class="card-text">
             My card content for selling old books. here you can include 
             short description about book.date of buying bla bla
           </p>
         </div>
         <div class="card-footer">
           <p class="card-text">
             <small class="text-muted">
               some some details, uploaded date and such things
             </small>
           </p>
         </div>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <div class="card-img">
            <img src="https://novel-geek.s3.ap-south-1.amazonaws.com/1593113226649_f1.jpg" alt="" class="card-img-top img-fluid">
            <a href="" class="btn btn-floating halfway-fab btn-large bg-brimary">
             <i class="ft-phone"></i>
           </a>
          </div>
         <div class="card-body">
           <h4 class="card-title">card title</h4>
           <p class="card-text">
             My card content for selling old books. here you can include 
             short description about book.date of buying bla bla
           </p>
         </div>
         <div class="card-footer">
           <p class="card-text">
             <small class="text-muted">
               some some details, uploaded date and such things
             </small>
           </p>
         </div>
        </div>
      </div>
    </div>
  </div>
</div>


