<div class="card">
    <div class="card-header d-flex justify-content-between">
      <div class="col">
        <img src="../../../assets/img/portrait/default.svg" 
        width="30" height="30" class="d-inline-flex rounded-circle mr-1">
        <span class="text-muted"><b>{{poll?.user?.username}} </b></span>
        <br/>
      </div>
      <div >
        <a (click)="toggleList()"><i  class="ft-more-horizontal"></i></a>
        <div style="position:relative">
          <div *ngIf = "isShow" style="position: absolute; z-index: 1000;" class="text-left dropdown-menu show">
            <div>
              <a (click)="deletePoll(poll.pollid)" class="dropdown-item py-1">
                <i class="ft-trash-2 mr-2"></i>
                <span> Delete Poll</span>
              </a> 
            </div> 
          </div>
        </div>
      </div>
    </div>
  
    <div class="card-body">
      <h5 class="card-title">{{poll.title}}</h5>
      <div class="card-content">
          <p class="card-text">
            End Date - {{poll.endDate | date: 'medium'}}
          </p>
      </div>
      <br> 
    </div>
  
    <div class="card-footer">
      <div >
        <div>
          <div class="input-field col s8 offset-s2" *ngFor="let option of options">
            <p>{{option.name}}</p>
            <p><ngb-progressbar [showValue]="true" [type]="colorScheme" [value]="(option.value/totalvotes*100) |number:'1.2-2'"></ngb-progressbar></p>
          </div>
        </div>
        </div>
    </div>
