<div mat-dialog-content>
  <form [formGroup]="fanfictionForm" (ngSubmit)="addFacFiction(fanfictionForm.value)">

    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>

    <div class="form-group">
      <label for="textArea">Title</label>
      <input class="form-control" type="text" formControlName="title" placeholder="Title">
    </div>

    <div class="form-group">
      <label for="textArea">Based on Book</label>
      <input class="form-control" type="text" formControlName="bookName" placeholder="Book Name">
    </div>

    <div class="form-group">
      <label for="textArea">Write Here</label>
      <textarea class="form-control" id="description" rows="10" formControlName="description"></textarea>
      <!-- <button class="button button4" (click)="addFacFiction(imageInput,bookName,description)">Add</button> -->
      <br>



      <button type="reset" class="btn btn-outline-primary primary" value="reset">Clear</button>
      <button type="submit" class="btn btn-primary  ml-1">
        <div class="white">Add</div>
      </button>
    </div>
  </form>
</div>

<ngx-spinner></ngx-spinner>