<div class="row align-items-center justify-content-center">
  <div class="col-6">
    <form (submit)="search()" class="" role="search">
      <div class="input-group">
        <input type="text" [(ngModel)]="searchTerm" value='searchTerm' name="searchbox"
          class="form-control rounded-right form-control-lg shadow pl-2" placeholder="Search a Book">
        <div class="input-group-append">
          <button class="btn btn-raised btn-primary shadow" type="button" (click)="search()"><i class="ft-search"></i></button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row justify-content-end">
  <div class="col-12">
    <button class="btn btn-outline-info mr-1 pull-right primary" >
      <i class="ft-plus primary mr-1"></i>
      Add New Fan-Fiction
    </button>
    <button class="btn btn-outline-info mr-1 pull-right primary" [routerLink]="'/books/add'">
      <i class="ft-plus primary mr-1"></i>
      Add New Book
    </button>
  </div>
</div>



<div class="row">
  <div class="col-md-6 col-sm-12" >
    <div class="card pl-3 pr-3">
      <div class="card-header text-center">
        <h4 class="card-title">Books you might like</h4>
        <p></p>
      </div>
      <div class="card-content">
        <swiper [config]="config">
          <div class="swiper-wrapper ">
        
            <div class="swiper-slide"  *ngFor="let recommendation of recommendations">
              <a [routerLink]="['/books/search',recommendation.bookId]">
              <img [src]="recommendation.img" class="img-fluid card-img-top"/>
              {{recommendation.title}}
            </a>
            </div>
        
          </div>
        
          <br/>
          <br/>
          <div class="swiper-pagination"></div>
          
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        
        </swiper>
      </div>
      
    </div>
  </div>

  <div class="col-md-6 col-sm-12" >
    <div class="card pl-3 pr-3">
      <div class="card-header text-center">
        <h4 class="card-title">Recently Viewed</h4>
        <p></p>
      </div>
      <div class="card-content">
        <swiper [config]="config">
          <div class="swiper-wrapper ">
        
            <div class="swiper-slide"  *ngFor="let recommendation of recentlyViewed">
              <a [routerLink]="['/books/search',recommendation.bookId]">
              <img [src]="recommendation.img" class="img-fluid card-img-top"/>
              {{recommendation.title}}
            </a>
            </div>
        
          </div>
        
          <br/>
          <br/>
          <div class="swiper-pagination"></div>
          
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        
        </swiper>
      </div>
      
    </div>
  </div>

  <div class="col-md-6 col-sm-12" >
    <div class="card pl-3 pr-3">
      <div class="card-header text-center">
        <a routerLink="/books/local-books" class="pull-right align-items-start">View all</a>
        <h4 class="card-title">Local Books</h4>
        
        <p></p>
      </div>
      <div class="card-content">
        <div class="d-flex empty">
          <h4 class="primary">Nothing to display</h4>
        </div>
      </div>
      
    </div>
  </div>

</div>


