<div class="container">

  <div class="row align-items-center justify-content-center">
    <div class="col-6">
      <form (submit)="search()" class="" role="search">
        <div class="input-group">
          <input 
            type="text" [(ngModel)]="searchTerm" 
            name="searchbox" 
            class="form-control rounded-right form-control-lg shadow pl-2" placeholder="Search Books">
            <div class="input-group-append">
              <button class="btn btn-raised btn-primary shadow" type="button" (click)="search()"><i class="ft-search"></i></button>
            </div>
        </div>
      </form>
    </div>
    
  </div>
  <div class="row align-items-center justify-content-center">
    <a type="button" href="/store">store</a>
  </div>

  <div class="row">
    <div class="col-8">

      <div class="row">

        <div class="col-1.5">
          <button class="buttonHistory button5 "></button>
          <p class="para">History</p>
        </div>

        <div class="col-1.5">
          <button class="buttonMedical button5 "></button>
          <p class="para">Medical</p>
        </div>

        <div class="col-1.5">
          <button class="buttonFood button5 "></button>
          <p class="para">Foods</p>
        </div>

        <div class="col-1.5">
          <button class="buttonLove button5 "></button>
          <p class="para">Love</p>
        </div>

      </div>
    </div>

    <div class="col-4 justify-content-center align-self-center">
      <button class="btn btn-outline-info mr-1 pull-right primary">
        <i class="ft-plus primary mr-1"></i>
        Add Fan Fiction
      </button>
      <button class="btn btn-outline-info mr-1 pull-right primary">
        <i class="ft-plus primary mr-1"></i>
        Add Books
      </button>
    </div>

  </div>

  <br>


  <div class="row">

    <div class="col-sm">
      <p class="font-weight-bold  text-muted">Our top picks</p>

      <swiper [config]="config">
        <div class="swiper-wrapper">

          <div class="swiper-slide" *ngFor="let slide of slideData">
            <img src="https://picsum.photos/id/{{slide.id}}/300/300" />
            {{slide.name}}
          </div>

        </div>

        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>

        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>

      </swiper>
    </div>

    <div class="col-sm">
      <p class="font-weight-bold text-muted">Book List</p>

      <swiper [config]="config">
        <div class="swiper-wrapper">

          <div class="swiper-slide" *ngFor="let slide of slideData">
            <img src="https://picsum.photos/id/{{slide.id}}/300/300" />
            {{slide.name}}
          </div>

        </div>

        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>

        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>

      </swiper>
    </div>

  </div>

  <br>

  <div class="row">
    <div class="col-sm">
      <p class="font-weight-bold text-muted">Trending Books</p>
      <swiper [config]="config">

        <div class="swiper-wrapper">

          <div class="swiper-slide" *ngFor="let slide of slideData">
            <img src="https://picsum.photos/id/{{slide.id}}/300/300" />
            {{slide.name}}
          </div>

        </div>

        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>

        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>

      </swiper>
    </div>

    <div class="col-sm">
      <p class="font-weight-bold text-muted">Local Books</p>
      <swiper [config]="config">

        <div class="swiper-wrapper">

          <div class="swiper-slide" *ngFor="let slide of slideData">
            <img src="https://picsum.photos/id/{{slide.id}}/300/300" />
            {{slide.name}}
          </div>

        </div>

        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>

        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>

      </swiper>
    </div>
  </div>


  <br>

  <div class="row">
    <div class="col-sm">
      <p class="font-weight-bold text-muted">Recently Viewed</p>
      <swiper [config]="config">

        <div class="swiper-wrapper">

          <div class="swiper-slide" *ngFor="let slide of slideData">
            <img src="https://picsum.photos/id/{{slide.id}}/300/300" />
            {{slide.name}}
          </div>

        </div>

        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>

        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>

      </swiper>
    </div>

    <div class="col-sm">
      <p class="font-weight-bold text-muted">Fan Fictiion</p>
      <swiper [config]="config">

        <div class="swiper-wrapper">

          <div class="swiper-slide" *ngFor="let slide of slideData">
            <img src="https://picsum.photos/id/{{slide.id}}/300/300" />
            {{slide.name}}
          </div>

        </div>

        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>

        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>

      </swiper>
    </div>
  </div>


</div>