
<div class="card">
  <!-- <div class="card-header text-center">
      <i class="ft-more-vertical float-right mb-1"></i>
      <img src="../assets/img/group/default.jpg" alt="Brek" width="150" class="rounded-circle gradient-mint">
      <a class="btn btn-floating float-left bg-warning"><i class="ft-plus"></i></a>
  </div> -->
  <div class="card-content">
      <img class="card-img-top img-fluid" src="../assets/img/group/default.jpg" alt="Group">
      <div class="card-body text-center">
        <a [routerLink]="['/groups',group.groupId]"><h4 class="card-title">{{group.groupName}}</h4></a>
        <p class="category text-gray font-small-4">{{group.description}}</p>
          
          <div class="d-flex justify-content-center align-items-center mt-2">
            <div class="dash-followers mr-2 font-small-2">
              <div class="">
                <h6 class="mb-0">{{group.memberCount}}</h6>
                <span class="grey">Members</span>
              </div>
            </div>
            <div class="dash-followers mr-2 font-small-2">
              <div class="">
                <h6 class="mb-0">0</h6>
                <span class="grey">Posts</span>
              </div>
            </div>
          </div>
      </div>
  </div>
  <div class="card-footer text-center">
    <a  class="btn btn-raised btn-primary mb-0 mt-0">
      <i class="ft-plus mr-1"></i>
      Add Members
    </a>
  </div>
</div>

