
<div class="card card-outline-info ">
  <div class="card-header text-center">
      <i class="ft-more-vertical float-right mb-1"></i>
      <img src="../assets/img/pages/login-bg.jpg" alt="Brek" width="150" class="rounded-circle gradient-mint">
      <a class="btn btn-floating float-left bg-warning"><i class="ft-plus"></i></a>
  </div>
  <div class="card-content">
      <div class="card-body text-center">
        
        <a [routerLink]="['/groups',group.groupId]"><h4 class="card-title">{{group.groupName}}</h4></a>
          
          <p class="category text-gray font-small-4">{{group.description}}</p>
          
          <hr class="grey">
          <div class="row grey">
              <div class="col-6">
                  <div>Members: <span>{{group.memberCount}}</span></div>
              </div>
              <div class="col-6">
                <div>Posts: <span>{{group.memberCount}}</span></div>
              </div>

          </div>
      </div>
  </div>
</div>

