
  <div class="card">
    <div class="card-header">
      <i class="ft-more-vertical float-right mb-1"></i>
      <h4 class="card-title">{{group.groupName}}</h4>
    </div>
    <div class="card-content">
      <div class="card-img ">
        <img class="card-img img-fluid d-none d-sm-block" src="../assets/img/pages/login-bg.jpg" alt="Card image cap" width="10" height="10">
        <a class="btn btn-floating halfway-fab bg-warning"><i class="ft-plus"></i></a>
      </div>
      <div class="card-body">
        <p class="card-text text-center">{{group.description}}</p>
      </div>
    </div>
  </div>
