<a class="list-group-item bg-yellow bg-lighten-5 border-right-dark border-right-2 comment">
    <span class="media">
    <span class="avatar avatar-md avatar-online">
        <img class="media-object d-flex mr-3 bg-successs height-50 rounded-circle" src="assets/img/portrait/small/avatar-s-3.png"
        alt="Generic placeholder image">
        <i></i>
    </span>
    <div class="media-body  text-left">
        <h6 class="list-group-item-heading">Elizabeth Elliott
        <span class="font-small-3 float-right successs">4:14 AM</span>
        </h6>
        <p class="list-group-item-text">
        <i class="ft-arrow-right successs font-small-2"></i> This is a damn good book
        <!-- <span class="float-right successs">
            <i class="font-medium-1 icon-pin blue-grey lighten-3"></i>
        </span> -->
        </p>
    </div>
    </span>
</a>