
<div class="card card-outline-info boc-shadow-0">
  <div class="card-header d-flex justify-content-between"> 
    <div>
      <img src="../../../assets/img/portrait/default.svg" 
      width="30" height="30" class="d-inline-flex rounded-circle mr-1">
      <span class="text-muted"><b>username </b></span>
      <br/>
      <span class="card-subtitle text-muted">publish date</span>
    </div>
    <div>
      <a href="" class="btn btn-floating btn-large bg-brimary">
        <i class="ft-phone"></i>
      </a>
    </div>
  </div>
  <div  class="card-content text-center">
    <div class="card-body">
      <div class="row d-flex">
        <div class="col-lg-6 col-12 align-self-center mb-2 mb-lg-0">
          <img src="https://novel-geek.s3.ap-south-1.amazonaws.com/1593970345795_five.jpg" 
          alt="" width="135" 
          class="mt-sm-2">
          <p class="btn btn-outline-warning mr-1 warning">PRICE: 200/=</p>
        </div>
        <div class="col-lg-6 col-12 align-self-center">
          <h4 class="card-title mb-3">card title</h4>
          <p class="card-text">
            My card content for selling old books. here you can include 
            short description about book.date of buying bla bla
          </p>
          <button class="btn btn-outline-danger mr-1 danger">BUY THIS BOOK</button>
        </div>
      </div>

    </div>
  </div>
</div>

