
<div *ngIf="item.owned && item.sold && allpost then thenBlock else elseBlock">
</div>
<ng-template #thenBlock></ng-template>

<ng-template #elseBlock>
  <div class="card boc-shadow-0">
    <div class="card-header d-flex justify-content-between"> 
      <div>
        <img src="../../../assets/img/portrait/default.svg" 
        width="30" height="30" class="d-inline-flex rounded-circle mr-1">
        <span class="text-muted"><b>{{item.username}}</b></span>
        <br/>
        <span class="card-subtitle text-muted">{{item.publishedDate|date:'medium'}}</span>
      </div>
      <div *ngIf="item.telephone!=null">
        <a class="btn btn-floating btn-large bg-brimary" [ngbTooltip]="item.telephone">
          <i class="ft-phone"></i>
        </a>
      </div>
    </div>
    <div  class="card-content text-center">
      <div class="card-body">
        <div class="row d-flex">
          <div class="col-lg-6 col-12 align-self-center mb-2 mb-lg-0">
            <div *ngIf="item.imagePath!= null ">
              <img [src]="item.imagePath" 
            alt="" width="135" 
            class="mt-sm-2">
            </div>
            <br/>
            <p class="btn btn-outline-warning mr-1 warning">PRICE: {{item.price}}/=</p>
          </div>
          <div class="col-lg-6 col-12 align-self-center">
            <h4 class="card-title mb-3">{{item.title}}</h4>
            <p class="card-text">{{item.description}}</p>
            <div *ngIf="item.owned">
              <p  *ngIf="item.sold" class="btn btn-outline-info mr-1 info">Sold</p>
              <a *ngIf="item.sold" (click)="openBuyerInfo(item.sellingid)" class="btn btn-outline-info mr-1 info">
                Purchase Info
              </a>
              <p  *ngIf="!item.sold" class="btn btn-outline-info mr-1 info">Not Yet Sold</p>
              <a  *ngIf="!item.sold" class="btn btn-outline-info mr-1 info" [routerLink]="['/salesinfo', item.sellingid]">
                <i class="ft-edit" style="cursor: pointer;"></i>
              </a>  
              <a (click)="deletePost(item.sellingid)"><i class="danger p-0 ft-trash-2" style="cursor: pointer;"></i></a>
            </div>
            <div *ngIf="!item.owned && !item.sold">
              <button class="btn btn-outline-danger mr-1 danger" (click)="openPayment()">BUY THIS BOOK</button>
            </div>
            <div *ngIf="!item.owned && item.sold">
              <a class="btn btn-outline-success mr-1 success" >SOLD</a>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>
</ng-template>

<!--HANDLE PAYMENT- PAYMENT INFO-->
<div class="row">
  <div class="backdrop" *ngIf="pay">
    <div class="col-10 modal-box" >
      <div class="card">
        <div class="card-content">
            <div class="card-body">
              <div class="card-header d-flex justify-content-between">
                <h4 class="card-title">{{item.title}}</h4>
                <i class="ft-x" style="cursor:pointer;" (click)="onClose()"></i>
              </div> 
                <aw-wizard #wizard navBarLayout="large-empty-symbols">
                    <aw-wizard-step [stepTitle]="'Personal Info'" [navigationSymbol]="{ symbol: '&#xf007;', fontFamily: 'FontAwesome' }">
                        <form #basicInfo="ngForm" class="editForm">
                            <h4 class="head text-center">Enter your basic details.</h4>
                            <br/>
                            <div class='row'>
                                <div class='col-12'>
                                    <div class="row justify-content-center">
                                      <div class="col-md-6 col-sm-12">
                                        <mat-form-field  class="example-full-width">
                                          <mat-label>First Name</mat-label>
                                          <input matInput name="first_name" ngModel #first_name="ngModel" required pattern="^[A-Za-z]*"/>
                                        </mat-form-field>
                                        <div *ngIf="first_name.errors?.pattern" style="color: red;"> 
                                          Inavalid pattern.
                                       </div> 
                                      </div>
                                      <div class="col-md-6 col-sm-12">
                                        <mat-form-field  class="example-full-width">
                                          <mat-label>Last Name</mat-label>
                                          <input matInput  name="last_name" ngModel #last_name="ngModel" required pattern="^[A-Za-z]*"/>
                                        </mat-form-field>
                                        <div *ngIf="last_name.errors?.pattern" style="color: red;"> 
                                          Inavalid pattern.
                                       </div> 
                                      </div>
                                      <div class="col-md-6 col-sm-12">
                                        <mat-form-field  class="example-full-width">
                                          <mat-label>Email</mat-label>
                                          <input matInput name="email" ngModel #email="ngModel" type="email" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"/>
                                        </mat-form-field>
                                        <div *ngIf="email.errors?.pattern" style="color: red;"> 
                                          Inavalid pattern.
                                       </div> 
                                      </div>
                                      <div class="col-md-6 col-sm-12">
                                        <mat-form-field  class="example-full-width">
                                          <mat-label>Contact Number</mat-label>
                                          <input matInput name="phone" ngModel #phone="ngModel" required pattern="^[0-9]{10,10}"/>
                                        </mat-form-field>
                                        <div *ngIf="phone.errors?.pattern" style="color: red;"> 
                                          Inavalid Telephone number
                                        </div>
                                      </div>
                                      <div class="col-md-6 col-sm-12">
                                        <mat-form-field  class="example-full-width">
                                          <mat-label>Address</mat-label>
                                          <input matInput name="address" ngModel #address="ngModel" required/>
                                        </mat-form-field>
                                      </div>
                                      <div class="col-md-6 col-sm-12">
                                        <mat-form-field  class="example-full-width">
                                          <mat-label>City</mat-label>
                                          <input matInput name="city" ngModel #city="ngModel" required pattern="^[a-zA-Z]*"/>
                                        </mat-form-field>
                                        <div *ngIf="city.errors?.pattern" style="color: red;"> 
                                          Inavalid pattern.
                                       </div> 
                                      </div>            
                                    </div>
                                    <div class="form-group text-center">
                                        <button type="button" uiSref="next" (click)="bindData(basicInfo.value)" [disabled]="!basicInfo.valid" class="btn btn-info btn-raised" awNextStep>
                                            Next
                                            <span style="margin-left:10px;">
                                                <i class="ft-chevron-right"></i>
                                            </span>
                                        </button>
                                    </div>
                              </div>
                            </div>
                        </form>
                    </aw-wizard-step>
                    <aw-wizard-step [stepTitle]="'Confime Data & Pay'" [navigationSymbol]="{ symbol: '&#xf0ac;', fontFamily: 'FontAwesome' }">
                        <form #buybooktemp method="POST" action="https://sandbox.payhere.lk/pay/checkout" class="editForm">
                          <div class="row">
                            <div class="col-md-6 col-sm-12">
                              <mat-form-field  class="example-full-width">
                                <mat-label>First Name</mat-label>
                                <input matInput name="first_name" [(ngModel)]="firstname" readonly/>
                              </mat-form-field>
                            </div>
                            <div class="col-md-6 col-sm-12">
                              <mat-form-field  class="example-full-width">
                                <mat-label>Last Name</mat-label>
                                <input matInput  name="last_name" [(ngModel)]="lastname" readonly/>
                              </mat-form-field>
                            </div>
                            <div class="col-md-6 col-sm-12">
                              <mat-form-field  class="example-full-width">
                                <mat-label>Email</mat-label>
                                <input matInput name="email" [(ngModel)]="Email" type="email" readonly/>
                              </mat-form-field>
                            </div>
                            <div class="col-md-6 col-sm-12">
                              <mat-form-field  class="example-full-width">
                                <mat-label>Contact Number</mat-label>
                                <input matInput name="phone" [(ngModel)]="Phone" readonly/>
                              </mat-form-field>
                            </div>
                            <div class="col-md-6 col-sm-12">
                              <mat-form-field  class="example-full-width">
                                <mat-label>Address</mat-label>
                                <input matInput name="address"[(ngModel)]="Address" readonly/>
                              </mat-form-field>
                            </div>
                            <div class="col-md-6 col-sm-12">
                              <mat-form-field  class="example-full-width">
                                <mat-label>City</mat-label>
                                <input matInput name="city" [(ngModel)]="City" readonly/>
                              </mat-form-field> 
                            </div>
                          </div>
                          <input type="hidden" id="merchant_id" [(ngModel)]="item.merchantid" name="merchant_id">    <!-- Replace your Merchant ID -->
                          <input type="hidden" [(ngModel)]="return"  name="return_url">
                          <input type="hidden" [(ngModel)]="cancel"  name="cancel_url">
                          <input type="hidden" [(ngModel)]="notify" name="notify_url"> 
                          <input type="hidden" [(ngModel)]="item.sellingid" name="order_id" >
                          <input type="hidden" [(ngModel)]="item.title" name="items">
                          <input type="hidden" [(ngModel)]="currency"  name="currency" >
                          <input type="hidden" [(ngModel)]="item.price"  name="amount"> 
                          <input type="hidden" [(ngModel)]="country"  name="country"> 
                          <div class="form-group text-center">
                              <button uiSref="pre" type="button" class="btn btn-raised btn-secondary mr-1" awPreviousStep>
                                <span style="margin-right:10px;">
                                    <i class="ft-chevron-left"></i>
                                </span> 
                                Previous
                              </button>
                              <input uiSref="confirm" type="submit" (click)="buybooktemp.submit()" 
                              class="btn btn-raised btn-success" value="Confirm and Proceed" awResetWizard/>   
                                <span style="margin-left:10px;">
                                    <i class="ft-chevron-right"></i>
                                </span>   
                          </div>
                        </form>    
                    </aw-wizard-step>
                </aw-wizard>
            </div>
        </div>
    </div>  
    </div>
  </div>
</div>
<section id="ngx">
</section>

<div class="row">
  <div class="backdrop" *ngIf="purchaseInfo">
    <div class="col-3"></div>
    <div class="col-5 modal-box-buyer" >
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          <h4 class="card-title">Purchase Info</h4>
          <i class="ft-x" style="cursor:pointer;" (click)="onClosePurchaseInfo()"></i>
        </div>
        <div class="card-content">
          <div class="row justify-content-center align-items-center">
            <img *ngIf="purchaseData.imagePath==null" src="../../../assets/img/portrait/default.svg" 
            width="64" height="64" class="d-inline-flex rounded-circle mr-1">
            <img *ngIf="purchaseData.imagePath!=null" [src]="purchaseData.imagePath" 
            width="64" height="64" class="d-inline-flex rounded-circle mr-1">
            <span class="text-muted"><b>{{purchaseData.buyer_name}}</b></span>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <div class="controls">
                    <label>Payment Id</label>
                    <input class="form-control" placeholder="{{purchaseData.payment_id}}" readonly>
                  </div>
                </div>
                <div class="form-group">
                  <div class="controls">
                    <label>Order_Id</label>
                    <input class="form-control" placeholder="{{purchaseData.order_id}}" readonly>
                  </div>
                </div>
                <div class="form-group">
                  <div class="controls">
                    <label>Paid Date</label>
                    <input class="form-control" placeholder="{{purchaseData.paid_date|date:'medium'}}" readonly>
                  </div>
                </div>
                <div class="form-group">
                  <div class="controls">
                    <label>Email</label>
                    <input class="form-control" placeholder="{{purchaseData.email}}" readonly>
                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>    
      </div>
    </div>
    <div class="col-4"></div>
  </div>
</div>
<ngx-spinner></ngx-spinner>
