<div class="row">
  <div class="col-md-12 col-lg-12">
    <div class="card">
      <div class="card-content">
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <h4 class="card-title">Fan Fictions</h4>
            </div>
            <div class="col-6">
              <form class="form">
                <div class="form-group">
                      <button class="btn btn-outline-info mr-1 pull-right primary" (click)="fanFictionDialog()">
                        <i class="ft-plus primary mr-1"></i>
                        Add Fan Fiction
                      </button>
                </div>
              </form>
            </div>
          </div>


          <div class="row">
            <div class="col-auto">
              <ul ngbNav #nav="ngbNav" class="nav-pills">
                <li ngbNavItem >
                  <a ngbNavLink>All Fan Fictions</a>
                  <ng-template ngbNavContent>
                    <div class="col-12 web-result" *ngFor="let fanfiction of fanfictionList">
                      <div class="card">
                        <div class="card-header">
                          <h4 class="card-title cursor-pointer"><a [routerLink]="'/books/fan-fiction/' + fanfiction.id">{{fanfiction.title}}</a></h4>
                        </div>
                        <div class="card-content">
                          <div class="card-body">
                            <p>{{fanfiction.description}}</p><span
                              class="badge bg-light-primary mb-sm-0 mb-1 mr-2">{{fanfiction.bookName}}</span><span
                              class="badge bg-light-primary mb-sm-0 mb-1 mr-2">Template</span><span
                              class="badge bg-light-primary mb-sm-0 mb-1">HTML Admin Template</span>
                          </div>
                          <div class="card-footer border-top d-flex justify-content-between align-items-center">
                            <small class="text-truncate"><a href="https://1.envato.market/vusax_admin" target="_blank"
                                class="success darken-3">https://1.envato.market/vusax_admin</a></small><i
                              class="ft-more-vertical- font-small-4 cursor-pointer"></i></div>
                        </div>
                      </div>
                    </div>

                    <div class="row justify-content-center  mt-2 font-medium-4" matchHeight="card" *ngIf="fanfictionList.length === 0">
                      No Fan fictions. Click on Add to add a fan fiction
                    </div>
                  </ng-template>
                </li>
                <li ngbNavItem>
                  <a ngbNavLink>My Fan Fictions</a>
                  <ng-template ngbNavContent>

                    <div class="col-12 web-result" *ngFor="let fanfiction of myFanFictions">
                      <div class="card">
                        <div class="card-header">
                          <h4 class="card-title cursor-pointer"><a [routerLink]="'/books/fan-fiction/' + fanfiction.id">{{fanfiction.title}}</a></h4>
                        </div>
                        <div class="card-content">
                          <div class="card-body">
                            <p>{{fanfiction.description}}</p><span
                              class="badge bg-light-primary mb-sm-0 mb-1 mr-2">{{fanfiction.bookName}}</span><span
                              class="badge bg-light-primary mb-sm-0 mb-1 mr-2">Template</span><span
                              class="badge bg-light-primary mb-sm-0 mb-1">HTML Admin Template</span>
                          </div>
                          <div class="card-footer border-top d-flex justify-content-between align-items-center">
                            <small class="text-truncate"><a href="https://1.envato.market/vusax_admin" target="_blank"
                                class="success darken-3">https://1.envato.market/vusax_admin</a></small><i
                              class="ft-more-vertical- font-small-4 cursor-pointer"></i></div>
                        </div>
                      </div>
                    </div>

                    <div class="row justify-content-center  mt-2 font-medium-4" matchHeight="card" *ngIf="myFanFictions.length === 0">
                      No Fan fictions. Click on Add to add a fan fiction
                    </div>
                  </ng-template>
                </li>
              </ul>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>


<div [ngbNavOutlet]="nav"></div>






