
<div class="col-md-6 col-sm-12">
    <div class="card card-outline-primary box-shadow-0 text-center" style="width:500px;height: auto;">
        <div class="card-content">
            <div class="card-header">
                <h4 class="card-title">A Dance with the Dragons</h4>
                <h6 class="card-subtitle text-muted">Hard Cover Book in mint condition with all the necessary chapters and stuff</h6>
            </div>
            <div class="card-body" >
                <img src="../../../../assets/books/game.jpg" style="height: 200px;width: 150px;" alt="element 02" width="225" class="mb-1">
                
                <p style="text-align: left;margin-left: 170px;margin-top: 20px;" class="card-text">
                    Starting Bid : 10$ <br>
                    Current Bid: 15$ <br>
                    Bids : 6
                </p>
                <h6 class="card-subtitle">Closes in : </h6><p style="color: red;">5 days</p>
            </div>
            <div class="card-footer">
                <div class="row" >
                        <input type="text" [(ngModel)]="bid" style="width: auto;margin-left: 100px;float: right;" class="form-control" id="iconLeft4" placeholder="Place your Bid"  (keydown.enter)="onAddBid();$event.preventDefault()"
                        #messageInput>
                        <button style="size:20px;width: auto; margin-left:10px;float: left;" mat-raised-button color="primary"><i class="fa fa-location-arrow" style="font-size: 24px;" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <mat-slider min="1" max="100" step="1" value="1"></mat-slider>
<form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Add your bid</mat-label>
      <textarea matInput placeholder="Got to make it count..."></textarea>
    </mat-form-field>
</form> -->