<!-- <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/5/56/Kobe_Bryant_2014.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div> -->
  <section>
    <div class="container">
    	<div class="row">
            <div class="col-8">
                <!-- image slider starts -->
                <swiper [config]="config"  #usefulSwiper>

                    <div class="swiper-wrapper">
                  
                      <div class="swiper-slide" *ngFor="let slide of slideData">
                        <img src="https://i.picsum.photos/id/{{slide.id}}/400/300.jpg" />
                        {{slide.name}}
                      </div>
                  
                    </div>
                  
                    <!-- if you wand uncomment pagination -->
                    <!-- Add Pagination -->
                    <!-- <div class="swiper-pagination"></div> -->
                  
                    <!-- Add Arrows -->
                     <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                 
                  </swiper>
                  <!-- image slider ends -->
                    
                
            </div>
    		<!--Profile Card 3-->
    		<div class="col-md-4">
    		    <div class="card profile-card-1">
    		        <!-- <img src="https://images.pexels.com/photos/946351/pexels-photo-946351.jpeg?w=500&h=650&auto=compress&cs=tinysrgb" alt="profile-sample1" class="background"/> -->
    		        <img src="https://upload.wikimedia.org/wikipedia/commons/5/56/Kobe_Bryant_2014.jpg" alt="profile-image" class="profile"/>
                    <div class="card-content">
                        <h2>Kobe Bryant<small>kobe@123</small></h2>
                    <div class="icon-block">
                        <a href="#"><i class="icon-user-follow" data-toggle="tooltip" data-placement="bottom" title="follow"></i></a>
                        <!-- if already friends  -->
                        <!-- <a href="#"><i class="icon-user-following" ></i></a> -->
                        <a href="#"> <i class="icon-users" data-toggle="tooltip" data-placement="bottom" title="followers"></i></a>
                        
                        <a href="#"> <i class="icon-book-open" data-toggle="tooltip" data-placement="bottom" title="Books"></i></a></div>
                    </div>
                </div>
               
    		</div>
    		
    	</div>
    </div>
</section>