<div class="row">
  <div class="col-md-12 col-lg-12">
    <div class="card">
      <div class="card-content">
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <h4 class="card-title">More Info</h4>
            </div>
            <div class="col-6">
              <form class="form">
                <div class="form-group">
                  <div class="row">
                    <div class="col-6">
                      <button class="btn btn-outline-info mr-1 pull-right primary">
                        <i class="ft-arrow-left primary mr-1"></i>
                        Go Back
                      </button>
                    </div>
                    <div class="col-6">
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>


          <div class="row">
            <div class="col-auto">
              <ul ngbNav #nav="ngbNav" class="nav-pills">
                <li ngbNavItem >
                  <a ngbNavLink>Book Info</a>
                  <ng-template ngbNavContent>
                    <div class="card">               
                    </div>
                  </ng-template>
                </li>

                <li ngbNavItem>
                  <a ngbNavLink>Payment Info</a>
                  <ng-template ngbNavContent>
                    <div class="card">
                      <div class="row justify-content-center  mt-2 font-medium-4" matchHeight="card">
                        There are no Posts yet. Click on Sell a Book to get started.
                      </div>   
                    </div> 
                  </ng-template>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div [ngbNavOutlet]="nav"></div>
<ngx-spinner></ngx-spinner>
