::ng-deep .wrapper {
    &.nav-collapsed {
        &.nav-small{
            .app-sidebar {
            width: 60px;

                &:hover {
                    width: 60px;

                    .nav li.has-sub>a:after {
                    display: inherit;
                    }

                    .menu-title,
                    .badge {
                    display: none;
                    }

                    .logo .text {
                    display: none;
                    }

                    .nav-toggle {
                    display: none !important;
                    }
                }
            }
        }
    }
}