<div class="row">
  <div class="col-md-12 col-lg-12">
    <div class="card">
      <div class="card-content">
        <div class="card-body">

          <div class="row">
            <div class="col-6">
              <h4 class="card-title">Groups</h4>
            </div>
            <div class="col-6">
              <form class="form">
                <div class="form-group">
                  <!-- <div class="position-relative has-icon-right">
                    <input type="text" class="form-control" name="form-control-with-icon">
                    <div class="form-control-position">
                      <i class="ft-search primary"></i>
                      <!-- <i class="ft-loader spinner"></i> 
                    </div>
                  </div> -->
                  <div class="row">
                    <div class="col-6">
                      <button class="btn btn-outline-info mr-1 pull-right primary" (click)="open(createGroup)">
                        <i class="ft-plus primary mr-1"></i>
                        Create Group
                      </button>
                    </div>
                    <div class="col-6">
                      
                      <div class="input-group ">
                        <input type="text" class="form-control " placeholder="Search" aria-describedby="button-addon4">
                        <div class="input-group-append">
                          <button class="btn btn-raised btn-primary" type="button"><i class="ft-search"></i></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>


          <div class="row">
            <div class="col-auto">
              <ul ngbNav #nav="ngbNav" class="nav-pills">
                <li ngbNavItem >
                  <a ngbNavLink>My Groups</a>
                  <ng-template ngbNavContent>
                    <div class="row" matchHeight="card">
                      <div class="col col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12" *ngFor="let group of myGroups">
                        <app-group-card [group]="group"></app-group-card>
                      </div>
                    </div>
                  </ng-template>
                </li>
                <li ngbNavItem>
                  <a ngbNavLink>All Groups</a>
                  <ng-template ngbNavContent>
                    <div class="row">
                      <div class="col-sm-12 col-md-6" *ngFor="let group of allGroups">
                        <app-group-horizontal-card [group]="group"></app-group-horizontal-card>
                      </div>
                    </div>
                  </ng-template>
                </li>
                <li ngbNavItem>
                  <a ngbNavLink>Group Invites</a>
                  <ng-template ngbNavContent>
                    <div class="col-md-6" *ngFor="let invite of groupInvites">
                      <div class="card text-center">
                        <div class="card-content justify-content-between">
                          <div class="align-self-center">
                            <div class="row mt-2 mb-2">
                              <div class="col-3">
                                <div class="card-text primary">{{invite.firedUser.username}}</div>
                                <div class="card-text "> invited you to join</div>

                              </div>
                              <div class="col-3 align-self-center">
                                <h4 class="card-title">{{invite.group.groupName}}</h4>
                              </div>
                              <div class="col-6 my-auto mt-1">
                                <a class="btn btn-raised btn-success mr-1" (click)="acceptInvite(invite.notificationId)">Accept Invitation</a>
                                <a class="btn btn-raised btn-warning">Decline</a>
                              </div>
                            </div>
                              
                              

                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </li>
              </ul>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>


<div [ngbNavOutlet]="nav"></div>


<!-- create group modal -->
<ng-template #createGroup let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="create-group">Create new Group</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form (ngSubmit)="onSubmit(createGroupForm)" #createGroupForm="ngForm">
    <div class="modal-body">
        <div class="form-group">
          <label for="groupName">Group Name</label>
          <input id="groupName" class="form-control" placeholder="Name" name="groupName" ngModel #groupName="ngModel">
        </div>
        <div class="form-group">
          <label for="description">Group Description</label>
          <input id="description" class="form-control" placeholder="Description" name="description" ngModel>
        </div>
        <div class="form-group">
          <label for="description">Group Avatar</label>
          <input id="description" class="form-control" placeholder="Avatar" name="avatar" ngModel>
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-primary" (click)="modal.close('Save click')">Cancel</button>
      <button type="submit" class="btn btn-outline-primary">Save</button>
    </div>
  </form>
</ng-template>

<ngx-spinner></ngx-spinner>

