
<div class="row text-left">
    <div class="col-sm-12">
    <div class="card">
        <div class="card-header">
        <h4 class="card-title">Reports Received</h4>
        </div>
        <div class="card-content">
        <div class="card-body">
            <table class="table table-responsive-md text-center">
            <thead>
                <tr>
                <th>No</th>
                <th>User</th>
                <th>Post ID</th>
                <th>Number of Reports</th>
                <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td>1</td>
                <td>
                    <div>
                        <img src="../../../assets/img/portrait/default.svg" 
                    width="30" height="30" class="rounded-circle mr-1" >
                    User Name
                    </div>                    
                </td>
                <td>
                    post id
                    <a class="badge bg-info" style="color:white;">view</a>
                </td>
                <td>
                    total of reports
                    <a class="badge bg-info" style="color:white;">view</a>
                </td>
                <td>
                    <a class="danger p-0" data-original-title="" title="">
                    <i class="ft-trash-2 font-medium-3 mr-2"></i>
                    </a>
                    <a class="success p-0" data-original-title="" title="">
                    <i class="ft-x font-medium-3 mr-2"></i>
                    </a>
                </td>
                </tr>
            </tbody>
            </table>
        </div>
        </div>
    </div>
    </div>
</div>