<div class="row-12">
<div class="row" style="background-color: white;height:500px;margin-top: 20px;">
    <div class="container">
            <div class="card card-inverse bg-danger text-center" >
                <div class="card-content">
                    <div class="card-img overlap">
                        <img src="../../../../assets/books/game.jpg" alt="element 03" width="170">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">A Dance With the Dragons</h4>
                        <p class="card-text">Auctions Ends in : </p>
                        <div class="mb-3">
                            <a href="javascript:void(0)" class="btn btn-raised gradient-purple-bliss white card-shadow">End Auction</a>
                          </div>
                    </div>
                </div>
            </div>
    </div>
</div>
<div class="row" style="margin-top: auto;">

        <div class="col-12" *ngFor="let user of users">
            <div class="container" style="text-align: center;">
                <app-bidder-card></app-bidder-card>
            </div>

         </div>


</div>

</div>