
<div class="row-12">
  <div class="card card-inverse bg-primary text-center">
    <div class="card-content">
      <div class="card-body pt-3">
        <div class="row d-flex">
          <div class="col align-self-center">
            <h4 class="card-title mt-3">{{title}}</h4>
            <p class="card-text">{{authors}}</p>
            <p class="card-text">{{description}}</p>
            <p class="card-text">{{averageRating}}</p>
            <p class="card-text">{{pagecount}}</p>
            <button class="btn btn-raised btn-primary btn-darken-3 white">View Book</button>
          </div>
          <div class="col align-self-center" >
            <img src="{{imageLink}}" alt="element 06" width="190" class="float-right">
            <!-- <img [src]="{{book.volumeInfo.imageLinks.thumbnail}}!= null ? item.pictureUrl : myImgUrl" alt="element 06" width="190" class="float-right"> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>