<div class="row">
  <div *ngIf="comment.imagePath==null">
    <img src="../../../assets/img/portrait/default.svg" 
  width="30" height="30" class="rounded-circle mr-1" >
  </div>
  <div *ngIf="comment.imagePath !=null">
    <img [src]="comment.imagePath" 
  width="30" height="30" class="rounded-circle mr-1" >
  </div>
  <div class="col chat-bubble mb-1" style="float: left;">
    <div class="row">
      <b style="font-size: small; padding-bottom: 0px;">{{comment.username}}</b>
    </div>
    <div class="row">
      <p>{{comment.comment}}</p>
    </div>
  </div>        
</div>
<div class="row">
  <div style="font-size: small; color: rgb(16, 80, 175); text-decoration: underline;">
    <a (click)="Reply()">Reply</a>
  </div>
  <div style="font-size: small; color: rgb(16, 80, 175); text-decoration: underline;">
    <a (click)="ShowReply(comment.commentid)">Show Reply</a>
  </div>
  <div *ngIf="comment.owned">
    <a (click)="deleteComment(comment.commentid)" class="dropdown-item py-1">
      <i class="ft-trash-2 mr-2"></i>
    </a>
  </div>
</div>
<div *ngIf="isreply">
  <form #addreply="ngForm" (ngSubmit)="onsubmitReply(addreply.value, comment.commentid)">
    <div class="d-flex justify-content-between">
      <input class="form-control" placeholder="add reply" name="reply" ngModel #reply="ngModel" required style="margin: 5px;">
      <button type="submit" [disabled]="!addreply.valid" class="btn btn-rased gradient-purple-bliss ft-navigation" style="margin: 5px;"></button>
    </div>
  </form>
</div>
<div *ngIf="showreply">
  <div *ngIf="replyList.length === 0">
    No replies yet
  </div>
  <ng-container *ngFor="let reply of replyList; let replyindex = index;">
    <div class="row">
      <div *ngIf="reply.imagePath==null">
        <img src="../../../assets/img/portrait/default.svg" 
      width="30" height="30" class="rounded-circle mr-1" >
      </div>
      <div *ngIf="reply.imagePath !=null">
        <img [src]="reply.imagePath" 
      width="30" height="30" class="rounded-circle mr-1" >
      </div>
      <div class="col chat-bubble-reply mb-1" style="float: left;">
        <div class="row">
          <b style="font-size: small; padding-bottom: 0px;">{{reply.username}}</b>
        </div>
        <div class="row">
          <p>{{reply.comment}}</p>
        </div>
      </div>        
    </div>
    <div class="row">
      <div *ngIf="reply.owned">
        <a (click)="deleteReply(reply.replyid, replyindex)" class="dropdown-item py-1">
          <i class="ft-trash-2 mr-2"></i>
        </a>
      </div>
    </div>
  </ng-container>
</div>

