<div class="row book-section">
        <div class="col-md-4 col-sm-12 image-section">
            <div class="card card-outline-primary box-shadow-0 text-center">
                <div class="card-content">
                  <div class="card-body pt-3">
                    <div class="row d-flex">
                      <div class="col align-self-center">
                        <img src="{{book.imageLinks.thumbnail}}" alt="element 01" width="190">
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-md-6 col-sm-12 detail-section">
            <div class="row-12 align-self-auto">
                    <div class="row"><h3 class="card-title mt-3"><b>{{book.title}}</b></h3></div>
                    <div class="row">
                        <div class="col-4">
                            <div class="row">
                                <h6 class="text-muted">Author:&nbsp;&nbsp;</h6><p class="card-author">{{book.authors}}</p>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="row">
                                <h6 class="text-muted">Rating:&nbsp;&nbsp;</h6><p class="card-author">{{book.averageRating}}</p>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="row">
                                <h6 class="text-muted">Page Count:&nbsp;&nbsp;</h6><p class="card-author">{{book.pageCount}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row" ><div [innerHTML]="book.description"></div></div>
                    <div class="row"><button class="btn btn-raised btn-primary">Buy Nows</button></div>
            </div>
            
        </div>
</div>
<div class="row-12 review-section">
    <div class="row">
        <form class="chat-app-input row mt-2">
            <!-- <fieldset class="form-group position-relative has-icon-left col-lg-10 col-8 m-0 px-3">
                <div class="form-control-position">
                    <i class="icon-emoticon-smile"></i>
                </div>
                <input type="text" class="form-control" id="iconLeft4" placeholder="Type your message"  (keydown.enter)="onAddMessage();$event.preventDefault()"
                #messageInput>
                <div class="form-control-position control-position-right">
                    <i class="ft-image mr-1"></i>
                </div>
            </fieldset> -->
            <fieldset class="form-group position-relative has-icon-left col-lg-2 col-4 m-0">
                <button type="button" class="btn btn-raised btn-warning  btn-review" (click)="onAddReview()">
                    <i class="far fa-address-book d-block d-xl-inline-block d-lg-none p-0"></i>
                    <span class="d-none d-lg-inline-block ml-1">Review this book</span>
                </button>
            </fieldset>
        </form>
    </div>
    <div *ngFor="let comment of comments">
        <div class="row">
            <a class="list-group-item bg-blue-grey bg-lighten-5 border-right-successs border-right-2 comment" (click)="SetActive($event, 'chat1')">
                <span class="media">
                <span class="avatar avatar-md avatar-online">
                    <img class="media-object d-flex mr-3 bg-successs height-50 rounded-circle" src="assets/img/portrait/small/avatar-s-3.png"
                    alt="Generic placeholder image">
                    <i></i>
                </span>
                <div class="media-body  text-left">
                    <h6 class="list-group-item-heading">Elizabeth Elliott
                    <span class="font-small-3 float-right successs">4:14 AM</span>
                    </h6>
                    <p class="list-group-item-text text-muted">
                    <i class="ft-check successs font-small-2"></i> Okay
                    <span class="float-right successs">
                        <i class="font-medium-1 icon-pin blue-grey lighten-3"></i>
                    </span>
                    </p>
                </div>
                </span>
            </a>
        </div>
    </div>
</div>