

<div class="card horizontal text-center" style="overflow: hidden;">
  <div class="card-content d-flex ">
    <div class="card-stacked align-self-center pt-3">
      <div class="px-3">
        <h4 class="card-title">{{(book.title | slice:0:50) + (book.title.length > 50 ? '...': '')}}</h4>
        <p class="card-text">{{book.description | slice:0:10}}</p>
        <button  class="btn btn-raised btn-primary btn-darken-3 white">View Book</button>
      </div>
      <div class="px-3">
        <button class="btn btn-outline-primary primary" type="button" (click)="open(boostBook)" >Boost</button>
      </div>
    </div>
    <div class="card-img p-3">
      <img *ngIf="book.imgUrl" class="card-img-top img-fluid float-right" src="{{book.imgUrl}}" alt="Card image cap" width="80%" >
      <img *ngIf="!book.imgUrl" class="card-img-top img-fluid float-right" src="../../../../../assets/img/book/default.png" alt="Card image cap" width="80%" >
    </div>
  </div>
</div>

<!-- boost modal -->
<ng-template #boostBook let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="create-group">Create new Group</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form #form method="POST" action="https://sandbox.payhere.lk/pay/checkout">
    <div class="modal-body">
      <input type="hidden" id="merchant_id"  name="merchant_id" value="1215088">    <!-- Replace your Merchant ID -->
      <input type="hidden" ngModel  name="return_url" value="http://sample.com/return">
      <input type="hidden" ngModel  name="cancel_url" value="http://sample.com/cancel">
      <input type="hidden" ngModel  name="notify_url" value="http://sample.com/notify"> 
      <input type="hidden"  name="order_id" value="1">
      <input type="hidden" [(ngModel)]="book.title" name="items" value="narnia">
      <input type="hidden" ngModel  name="currency" value="LKR">
      <input type="hidden" [(ngModel)]="totalPrice"  name="amount" value="1000"> 
      <input type="hidden" ngModel  name="country" value="Sri Lanka"> 
        <div class="form-group">
          <label for="groupName">Group Name</label>

        </div>
        <div class="form-group">
          <label for="description">Group Description</label>
          <input id="description" class="form-control" placeholder="Description" name="description" ngModel>
        </div>
        <div class="form-group">
          <label for="description">Group Avatar</label>
          
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-primary primary" (click)="modal.close('Save click')">Cancel</button>
      <input type="submit" class="btn btn-primary" type="submit" (click)="form.submit()"><div class="white">Save</div>
    </div>
  </form>
</ng-template>



