.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 4;
  background-color: #FFF;
  @include card-shadow();
}

.app-sidebar {
  z-index: 5;
}

.main-panel {
  margin-top: 85px;
}

.layout-dark {
  .navbar {
    background-color: $bg-color-dark;
    box-shadow: 0 6px 0px 0 rgba(0, 0, 0, 0.1), 0 15px 32px 0 rgba(0, 0, 0, 0.06);
  }
}

.layout-dark.layout-transparent {
  &.bg-glass-1 {
    .navbar {
      box-shadow: 0 0 6px 5px rgba(0, 0, 0, 0.05), 0 15px 32px 0 rgba(0, 0, 0, 0.06);
    }
  }

  &.bg-glass-2 {
    .navbar {
      box-shadow: 0 0 6px 5px rgba(0, 0, 0, 0.05), 0 15px 32px 0 rgba(0, 0, 0, 0.06);
    }
  }

  &.bg-glass-3 {
    .navbar {
      box-shadow: 0 0 6px 5px rgba(0, 0, 0, 0.05), 0 15px 32px 0 rgba(0, 0, 0, 0.06);
    }
  }

  &.bg-glass-4 {
    .navbar {
      box-shadow: 0 0 6px 5px rgba(0, 0, 0, 0.05), 0 15px 32px 0 rgba(0, 0, 0, 0.06);
    }
  }

  &.bg-hibiscus {
    .navbar {
      box-shadow: 0 0 6px 5px rgba(0, 0, 0, 0.05), 0 15px 32px 0 rgba(0, 0, 0, 0.06);
    }
  }

  &.bg-purple-pizzazz {
    .navbar {
      box-shadow: 0 0 6px 5px rgba(0, 0, 0, 0.05), 0 15px 32px 0 rgba(0, 0, 0, 0.06);
    }
  }

  &.bg-blue-lagoon {
    .navbar {
      box-shadow: 0 0 6px 5px rgba(0, 0, 0, 0.05), 0 15px 32px 0 rgba(0, 0, 0, 0.06);
    }
  }

  &.bg-electric-violet {
    .navbar {
      box-shadow: 0 0 6px 5px rgba(0, 0, 0, 0.05), 0 15px 32px 0 rgba(0, 0, 0, 0.06);
    }
  }

  &.bg-portage {
    .navbar {
      box-shadow: 0 0 6px 5px rgba(0, 0, 0, 0.05), 0 15px 32px 0 rgba(0, 0, 0, 0.06);
    }
  }


  &.bg-tundora {
    .navbar {
      box-shadow: 0 0 6px 5px rgba(0, 0, 0, 0.05), 0 15px 32px 0 rgba(0, 0, 0, 0.06);
    }
  }

}
