
<!--NEW POST SECTION-->
<div class="row justify-content-center ">
  <div class="col-md-4 col-sm-12 col-xs-12">
    <div class="card  ">
      <div class="card-body d-flex justify-content-between">
        <img src="../../../assets/img/portrait/default.svg" 
          width="30" height="30" class="rounded-circle mr-1">
        <input class="form-control" (click)="onOpen()" placeholder="Share your thoughts ...">
      </div>
    </div>
  </div>
</div>


<div class="card-columns">

    <ng-container *ngFor="let item of postList; let itemindex = index;">
      <app-post-modal [item]="item" [itemindex]="itemindex" (ondelete)="onDeletePost($event)"></app-post-modal>
    </ng-container>
    <div *ngIf="postList.length === 0">
      <span class="card-body text-muted" >Currently, No Post Available</span>
    </div>

</div>
<!--POSTS APPEARS HEARE/POST SECTION-->

<!-- <div class="col-md-3 col-12 col-sm-12 col-xs-12">
</div> -->


<!--CREATE NEW POST CUSTOM MODAL SECTION-->
 <div class="row">
  <div class="backdrop" *ngIf="create">
    <div class="col-3"></div>
    <div class="col-4 modal-box" >
       <form #createpost="ngForm" (ngSubmit)="onsubmit(createpost.value)">
         <div class="card">
             <div class="card-header d-flex justify-content-between">
               <h4 class="card-title">Create Post</h4>
               <i class="ft-x" style="cursor:pointer;" (click)="onClose()"></i>
             </div>    
             <div class="card-body form-group">
               <input type="text" name="title" ngModel #title="ngModel" class="form-control card-title" placeholder="Post Title" required>
               <div class="card-content">
                 <textarea cols="100" rows="10" name="description" ngModel #description="ngModel" class="form-control" placeholder="your thoughts..." required></textarea>
               </div>
               <div class="card-content" *ngIf="new_post.imagePath!=''">
                 <img [src]="new_post.imagePath" class="img-fluid">
               </div>
             </div>    
             <div class="card-footer d-flex justify-content-between">
                 <div class="form-group">
                   <i class="primary icon-picture mr-2"></i>
                   <label style="cursor:pointer;">
                     <span class="primary">Attach Photo</span>
                     <input (change)="uploadImage($event)" ngModel name="image" type="file" style="display:none;">
                   </label>
                 </div>
                 <div>
                   <i class="primary icon-share mr-2"></i>
                   <label>   
                     <span class="primary">Share On</span>
                   </label>
                 </div>             
                 <div style="padding-left:0px;" class="form-group">
                     <select class="form-control" [ngModel]="default" id="sharedtype" name="sharedtype">
                       <option value="Public" selected>Public</option>
                       <option value="Friends Only">Friends Only</option>
                     </select>
                 </div>
                 <div>
                   <input type="submit" [disabled]="!createpost.valid" value="post" class="btn btn-raised gradient-purple-bliss white">
                 </div> 
             </div> 
         </div>
       </form>
    </div>
    <div class="col-5"></div>
  </div>
   

 </div>

 <ngx-spinner></ngx-spinner>