<div class="card">
  <div class="card-content">
    <div class="card-body">
      <div class="row d-flex mb-3 py-2 text-center">
        <!-- <div class="col align-self-center text-center"><i class="icon-graph font-large-2 blue-grey lighten-2"></i></div> -->
        <div *ngIf="user.imageUrl === null" class="col align-self-center"><img alt="96x96"
            class="width-150 rounded-circle img-fluid" src="assets/img/portrait/default.svg"></div>
        <div *ngIf="user.imageUrl !== null" class="col align-self-center"><img alt="96x96"
            class="width-150 rounded-circle img-fluid" [src]="user.imageUrl" onerror="this.src='assets/img/portrait/default.svg';"></div>
        <!-- <div class="col align-self-center text-center"><i class="icon-envelope font-large-2 blue-grey lighten-2"></i></div> -->
      </div>
      <a (click) = viewFriend(user.email)>
      <h3 class="font-large-1 text-center">{{user.username}}</h3>
      </a>
      <span class="font-medium-1 grey d-block text-center">{{user.email}}</span>
      <div class="row mt-4 mb-3 text-center">
        <div *ngIf="user.status === 'REQUESTED'" class="col align-self-center text-center">
          <a (click)="cancelSentRequest()" [ngbTooltip]="'Cancel Sent Request'" placement="bottom">
            <i class="ft-user-x"></i>
          </a>
        </div>
        <div *ngIf="user.status !== 'REQUESTED' && user.friend === false" class="col align-self-center text-center">
          <a (click)="sendFriendRequest()" [ngbTooltip]="'Send Friend Request'" placement="bottom">
            <i class="ft-user-plus"></i>
          </a>
        </div>
        <div *ngIf="user.friend === true" class="col align-self-center text-center">
          <a (click)="unFriendUser()" [ngbTooltip]="'Unfriend User'" placement="bottom">
            <i class="ft-user-minus"></i>
          </a>
        </div>
        <div class="col align-self-center text-center">
          <a [ngbTooltip]="'Message User'" placement="bottom">
            <i class="ft-mail"></i>
          </a>

        </div>
      </div>
    </div>
  </div>
</div>

<ngx-spinner></ngx-spinner>