
  <div class="card">
    <div class="card-content">
      <div class="card-body">
        <div class="row d-flex mb-3 py-2 text-center">
          <!-- <div class="col align-self-center text-center"><i class="icon-graph font-large-2 blue-grey lighten-2"></i></div> -->
          <div class="col align-self-center"><img alt="96x96" class="bg-danger width-150 rounded-circle img-fluid"
              src="assets/img/portrait/small/avatar-s-11.png"></div>
          <!-- <div class="col align-self-center text-center"><i class="icon-envelope font-large-2 blue-grey lighten-2"></i></div> -->
        </div>
        <h3 class="font-large-1 text-center">Kevin Sullivan</h3>
        <span class="font-medium-1 grey d-block text-center">UX Designer</span>
        <div class="row mt-4 mb-3 text-center">
          <div class="col align-self-center text-center"><i class="icon-graph font-large-2 blue-grey lighten-2"></i></div>
          <div class="col align-self-center text-center"><i class="icon-envelope font-large-2 blue-grey lighten-2"></i></div>
        </div>
      </div>
    </div>
  </div>
