<div class="row ">
  <div class="col-md-6 col-sm-12 detail-section">
      <div class="row-12 align-items-center">
          <div class="row justify-content-center">
              <h3 class="card-title mt-3"><b>{{fanFiction?.title}}</b></h3>
          </div>
          <div class="row justify-content-between">
              <div class="col-4">
                  <div class="row">
                      <h6 class="text-muted">Based On:&nbsp;&nbsp;</h6>
                      <p class="card-author">{{fanFiction?.bookName}}</p>
                  </div>
              </div>
          </div>

          <div class="row">
              <div [innerHTML]="fanFiction?.description"></div>
          </div>

          <!-- <div class="row"><button class="btn btn-raised btn-primary">Buy Nows</button></div> -->
      </div>

  </div>
</div>
<div class="row justify-content-center">
  <form class="chat-app-input row mt-2">
      <fieldset class="form-group position-relative has-icon-left col-lg-2 col-4 m-0">
          <button type="button" class="btn btn-raised btn-warning  btn-review" (click)="open(addReview)">
              <i class="fa fa-address-book d-block d-xl-inline-block d-lg-none p-0"></i>
              <span class="d-none d-lg-inline-block ml-1">Review this book</span>
          </button>
      </fieldset>
  </form>
</div>
<br>

<div class="row align-items-center justify-content-center">
  <div *ngFor="let review of reviews">
      <div class="row">
          <app-review [userName]="review.userId.username" [timestamp]="review.reviewAge"
              [noOfLikes]="review.no_of_likes" [description]="review.reviewDescription" [comments]="review.comments"
              [imageUrl]="review.userId.imageUrl" [reviewId]="review.reviewId" [bookId]="bookId"></app-review>
      </div>
  </div>
</div>

<ng-template #addReview let-modal>
  <div class="modal-header">
      <h4 class="modal-title" id="create-group">Add Review</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
      <div class="modal-body">
          <div class="form-group">
              <label for="groupName">Your Review</label>
              <textarea class="form-control" placeholder="Your review here" name="groupName" [(ngModel)]="review">

              </textarea>
          </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-outline-primary primary"
              (click)="modal.close('Save click')">Cancel</button>
          <button type="submit" class="btn btn-primary">
              <div class="white" (click)="onAddReview()">Save</div>
          </button>
      </div>
  
</ng-template>

<ngx-spinner></ngx-spinner>