<!-- polls home view -->
<div class="row">
  <div class="col-md-12- col-lg-12">
    <div class="card">
      <div class="card-content">
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <h4 class = "card-title">Polls</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <ul ngbNav #nav=ngbNav class="nav-pills">
                <li ngbNavItem>
                  <a ngbNavLink>All Polls</a>
                  <ng-template ngbNavContent>
                    <div class="row">
                      <div *ngFor="let poll of allpolls" class="col col-xl-3 col-md-3 col-sm-6 col-12" >
                          <app-poll-model [poll]="poll"></app-poll-model>
                      </div>
                    </div>
                  </ng-template>
                </li>
                <li ngbNavItem>
                  <a ngbNavLink>My Polls</a>
                  <ng-template ngbNavContent>
                    <div class="row">
                      <div *ngFor="let poll of mypolls; let itemindex = index;" class="col-sm-12 col-md-6">
                        <app-my-polls [poll]="poll"  [itemindex]="itemindex" (ondelete)="onDeletePoll($event)"></app-my-polls>
                      </div>
                    </div>
                  </ng-template>
                </li>
                <li ngbNavItem>
                  <a ngbNavLink>Add Poll</a>
                  <ng-template ngbNavContent>
                    <div class="col-md-6">
                      <app-add-poll></app-add-poll>
                    </div>
                  </ng-template>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div [ngbNavOutlet]="nav"></div>

