<!-- polls home view -->
<div class="row">
  <div class="col-md-12- col-lg-12">
    <div class="card">
      <div class="card-content">
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <h4 class="card-title">Polls</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <ul ngbNav #nav=ngbNav class="nav-pills">
                <li ngbNavItem>
                  <a ngbNavLink>All Polls</a>
                  <ng-template ngbNavContent>
                    <div class="row">
                      <div *ngFor="let poll of allpolls" class="col col-xl-4 col-md-4 col-sm-6 col-12">
                        <app-poll-model [poll]="poll"></app-poll-model>
                      </div>

                    </div>
                    <div class="row justify-content-center  mt-2 font-medium-4" matchHeight="card"
                      *ngIf="allpolls.length === 0">
                      There are no Posts yet. Add a poll to get started.
                    </div>
                  </ng-template>
                </li>
                <li ngbNavItem>
                  <a ngbNavLink>My Polls</a>
                  <ng-template ngbNavContent>
                    <div class="row">
                      <div *ngFor="let poll of mypolls; let itemindex = index;"
                        class="col col-xl-4 col-md-4 col-sm-6 col-12">
                        <app-my-polls [poll]="poll" [itemindex]="itemindex" (ondelete)="onDeletePoll($event)">
                        </app-my-polls>
                      </div>

                    </div>
                    <div class="row justify-content-center  mt-2 font-medium-4" matchHeight="card"
                      *ngIf="mypolls.length === 0">
                      There are no Posts yet. Add a poll to get started.
                    </div>
                  </ng-template>
                </li>
                <li ngbNavItem>
                  <a ngbNavLink>Add Poll</a>
                  <ng-template ngbNavContent>
                    <div class="col-md-6">
                      <app-add-poll (newPoll)="onAddNewPoll($event)"></app-add-poll>
                    </div>
                  </ng-template>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div [ngbNavOutlet]="nav"></div>